{{#body}}
    <div class="hero-unit">
        <h1>Welcome to Questience!</h1>
        <p>Questience is a game that will organize your life. </p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h2>Heading</h2>
            <p>Coming soon!</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
            <h2>Heading</h2>
            <p>Coming soon!</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
            <h2>Heading</h2>
            <p>Coming soon!</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
        <div class="span4">
            <h2>Heading</h2>
            <p>Coming soon!</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
            <h2>Heading</h2>
            <p>Coming soon!</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
            <h2>Heading</h2>
            <p>Coming soon!</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
    </div><!--/row-->
{{/body}}