@import 'bootstrap.min.css'
@import 'bootstrap-responsive.min.css'

/* Base */
body
	padding-top 60px
	padding-bottom 40px

/* Layout */

/* Modules */
.actions-group {
    margin-right 15px
}

.list-plain{
  list-style none
  border-bottom 15px
}

.list .list-row-new{
  clear left
  margin-left 0
}

.quest-item{
  width 31%
  padding 1%
  float left
}

/* Fields */
.deadline {
  font-style italic
  text-transform lowercase
}

/* States */
.is-not-displayed{
    display none
}