@import 'bootstrap.min.css';
@import 'bootstrap-responsive.min.css';
@import 'daterangepicker.css';
body{padding-top:60px;padding-bottom:40px}
.actions-group{margin-right:15px}
.list-plain{list-style:none;border-bottom:15px}
.list .list-row-new{clear:left;margin-left:0}
.quest-item{width:31%;padding:1%;float:left}
.is-not-displayed{display:none}
