@import 'bootstrap.min.css'
@import 'bootstrap-responsive.min.css'

/* Base */
body
	padding-top 60px
	padding-bottom 40px

/* Layout */
/* Modules */
.list-plain{
  list-style none
  border-bottom 15px
}

.list .list-row-new{
  margin-left 0
}

/* States */